# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
CMakeFiles
build/src
obj
./.kdev4
vscode
img
bin
/build/*
./bin
./data
./SHS/src/CMakeFiles
./SHS/test/CMakeFiles
./vscode
.vscode
./SHS/.kdev4
./SHS/build/
./SHS/src

./SHS/build/
./SHS/build/src/CMakeFiles/SHS.dir/DependInfo.cmake
./SHS/build/CMakeFiles/Makefile2
/SHS/build/CMakeCache.txt
/SHS/build/*
build
SHS/build
SHS/build/src/*
